body {
    background-color: lawngreen;
}
div {
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
}

#predefiniowane {
    background-color: darkmagenta;
    
}
#hex {
   background-color: #2f4858;
}
#hex-skrocony {
    background-color: #f4a
}
#rgb {
    background-color: rgb(222,46,6);
}
#rgba {
    background-color: rgb(222,46,6,0.6)
}